<nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
      <div class="container">
        <a class="navbar-brand" href="/"
          ><img src="/assets/img/crn-dark-new2.png" style="height: 50px" /></a
        ><button
          data-toggle="collapse"
          class="navbar-toggler"
          data-target="#navcol-1"
        >
          <span class="sr-only">Toggle navigation</span
          ><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1">
          <ul class="nav navbar-nav mr-auto">
            <li class="nav-item" role="presentation">
              <a class="nav-link{% if page.title == "Volunteer" %} active{% endif %}" href="/volunteer">Volunteer</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link{% if page.title == "Partners" %} active{% endif %}" href="/partners">Partners</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link{% if page.title == "Contact" %} active{% endif %}" href="/contact">Contact</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link{% if page.title == "About" %} active{% endif %}" href="/about">About</a>
            </li>
          </ul>
          <span class="navbar-text actions">
            <a class="btn btn-light action-button" role="button" href="/donate"
              >Give Now</a
            ></span
          >
        </div>
      </div>
    </nav>
