<section class="testimonials py-5 text-white px-1 px-md-5 margin-top-xl">
      <img src="assets/img/favicon2.png" class="icon-overlay">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h2 class="pt-2 text-center font-weight-bold">
              <!--From our volunteers and donation recipients:-->
            </h2>

            <div class="carousel-controls testimonial-carousel-controls">
              <div class="control d-flex align-items-center justify-content-center prev mt-3 slick-arrow" style="">
                <i class="fa fa-chevron-left"></i>
              </div>
              <div class="control d-flex align-items-center justify-content-center next mt-3 slick-arrow" style="">
                <i class="fa fa-chevron-right"></i>
              </div>

              <div class="testimonial-carousel slick-initialized slick-slider"><div class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 45510px; transform: translate3d(-11100px, 0px, 0px);"><div class="h5 font-weight-normal one-slide mx-auto slick-slide slick-cloned" data-slick-index="-1" id="" aria-hidden="true" tabindex="-1" style="width: 1110px;">
                  <div class="testimonial w-100 px-3 text-center d-flex flex-direction-column justify-content-center flex-wrap align-items-center">
                    <div class="message text-center blockquote w-100">
                      “My neighbor has multiple health issues and is unable to
                      leave his home. He has asked for help and is thankful.
                      Even just an apple brings him happiness. I take him a box
                      each Sunday afternoon.”
                    </div>
                    <div class="blockquote-footer w-100 text-white">
                      Volunteer
                    </div>
                  </div>
                </div><div class="h5 font-weight-normal one-slide mx-auto slick-slide" data-slick-index="0" aria-hidden="true" tabindex="-1" style="width: 1110px;">
                  <div class="testimonial w-100 px-3 text-center d-flex flex-direction-column justify-content-center flex-wrap align-items-center">
                    <div class="message text-center blockquote w-100">
                      “Thank you to all those who work so hard to provide for
                      us. I cannot express my gratitude enough.”
                    </div>
                    <div class="blockquote-footer w-100 text-white">
                      Community Recipient
                    </div>
                  </div>
                </div><div class="h5 font-weight-normal one-slide mx-auto slick-slide" data-slick-index="1" aria-hidden="true" tabindex="-1" style="width: 1110px;">
                  <div class="testimonial w-100 px-3 text-center d-flex flex-direction-column justify-content-center flex-wrap align-items-center">
                    <div class="message text-center blockquote w-100">
                      “Oh my goodness, thank you, thank you, thank you for the
                      amazing grocery blessing. So many surprises and wonderful
                      things I cannot even list them!”
                    </div>
                    <div class="blockquote-footer w-100 text-white">
                      Community Recipient
                    </div>
                  </div>
                </div><div class="h5 font-weight-normal one-slide mx-auto slick-slide" data-slick-index="2" aria-hidden="true" tabindex="-1" style="width: 1110px;">
                  <div class="testimonial w-100 px-3 text-center d-flex flex-direction-column justify-content-center flex-wrap align-items-center">
                    <div class="message text-center blockquote w-100">
                      “I am helping feed several families who’ve lost jobs. It
                      is a pleasure to see their surprise and delight in the
                      littlest things - an onion or a melon. You’d think it was
                      treasure!”
                    </div>
                    <div class="blockquote-footer w-100 text-white">
                      Volunteer
                    </div>
                  </div>
                </div><div class="h5 font-weight-normal one-slide mx-auto slick-slide" data-slick-index="3" aria-hidden="true" tabindex="-1" style="width: 1110px;">
                  <div class="testimonial w-100 px-3 text-center d-flex flex-direction-column justify-content-center flex-wrap align-items-center">
                    <div class="message text-center blockquote w-100">
                      “Thank you for the groceries. I shared some of the fresh
                      produce with a mom who had nothing fresh to eat. She was
                      thrilled!”
                    </div>
                    <div class="blockquote-footer w-100 text-white">
                      Community Recipient
                    </div>
                  </div>
                </div><div class="h5 font-weight-normal one-slide mx-auto slick-slide" data-slick-index="4" aria-hidden="true" tabindex="-1" style="width: 1110px;">
                  <div class="testimonial w-100 px-3 text-center d-flex flex-direction-column justify-content-center flex-wrap align-items-center">
                    <div class="message text-center blockquote w-100">
                      “I can’t tell you how those yellow sunflowers brightened
                      my day. Flowers are something I never treat myself to, so
                      now I’m very spoiled.”
                    </div>
                    <div class="blockquote-footer w-100 text-white">
                      Community Recipient
                    </div>
                  </div>
                </div><div class="h5 font-weight-normal one-slide mx-auto slick-slide" data-slick-index="5" aria-hidden="true" tabindex="-1" style="width: 1110px;">
                  <div class="testimonial w-100 px-3 text-center d-flex flex-direction-column justify-content-center flex-wrap align-items-center">
                    <div class="message text-center blockquote w-100">
                      “Thank you for packing the most delicious bounty of
                      groceries for us this week.”
                    </div>
                    <div class="blockquote-footer w-100 text-white">
                      Community Recipient
                    </div>
                  </div>
                </div><div class="h5 font-weight-normal one-slide mx-auto slick-slide" data-slick-index="6" aria-hidden="true" tabindex="-1" style="width: 1110px;">
                  <div class="testimonial w-100 px-3 text-center d-flex flex-direction-column justify-content-center flex-wrap align-items-center">
                    <div class="message text-center blockquote w-100">
                      “My husband is out of work. My family greatly appreciates
                      the groceries. We have also been given compost and that
                      greatly helps feed our ~35 chickens who provide us with
                      eggs.”
                    </div>
                    <div class="blockquote-footer w-100 text-white">
                      Community Recipient
                    </div>
                  </div>
                </div><div class="h5 font-weight-normal one-slide mx-auto slick-slide" data-slick-index="7" aria-hidden="true" tabindex="-1" style="width: 1110px;">
                  <div class="testimonial w-100 px-3 text-center d-flex flex-direction-column justify-content-center flex-wrap align-items-center">
                    <div class="message text-center blockquote w-100">
                      “Oh, eggs, I’m so excited for eggs!&nbsp;&nbsp;Now my kids can have
                      breakfast before they go to school.”
                    </div>
                    <div class="blockquote-footer w-100 text-white">
                      Volunteer
                    </div>
                  </div>
                </div><div class="h5 font-weight-normal one-slide mx-auto slick-slide" data-slick-index="8" aria-hidden="true" tabindex="-1" style="width: 1110px;">
                  <div class="testimonial w-100 px-3 text-center d-flex flex-direction-column justify-content-center flex-wrap align-items-center">
                    <div class="message text-center blockquote w-100">
                      “I've been bringing donations to new neighbor who just
                      started a business. I bring food for the family, compost
                      for his little goats and chickens, and a box of extra
                      bakery which he shares with others. He gets very excited
                      and is thankful.”
                    </div>
                    <div class="blockquote-footer w-100 text-white">
                      Volunteer
                    </div>
                  </div>
                </div><div class="h5 font-weight-normal one-slide mx-auto slick-slide slick-current slick-active" data-slick-index="9" aria-hidden="false" tabindex="0" style="width: 1110px;">
                  <div class="testimonial w-100 px-3 text-center d-flex flex-direction-column justify-content-center flex-wrap align-items-center">
                    <div class="message text-center blockquote w-100">
                      “I will talk about volunteering with CRN when I am an old
                      lady, tearing up about how incredible it is when a
                      community of many different people pull together to help
                      one another.”
                    </div>
                    <div class="blockquote-footer w-100 text-white">
                      Volunteer
                    </div>
                  </div>
                </div><div class="h5 font-weight-normal one-slide mx-auto slick-slide" data-slick-index="10" aria-hidden="true" tabindex="-1" style="width: 1110px;">
                  <div class="testimonial w-100 px-3 text-center d-flex flex-direction-column justify-content-center flex-wrap align-items-center">
                    <div class="message text-center blockquote w-100">
                      “One of the children in a family I deliver to literally
                      squeals at every piece of fresh fruit! It makes her so
                      happy!”
                    </div>
                    <div class="blockquote-footer w-100 text-white">
                      Volunteer
                    </div>
                  </div>
                </div><div class="h5 font-weight-normal one-slide mx-auto slick-slide" data-slick-index="11" aria-hidden="true" tabindex="-1" style="width: 1110px;">
                  <div class="testimonial w-100 px-3 text-center d-flex flex-direction-column justify-content-center flex-wrap align-items-center">
                    <div class="message text-center blockquote w-100">
                      “I love getting surprise groceries and figuring out what
                      to do with them!! I am learning so much.”
                    </div>
                    <div class="blockquote-footer w-100 text-white">
                      Community Recipient
                    </div>
                  </div>
                </div><div class="h5 font-weight-normal one-slide mx-auto slick-slide" data-slick-index="12" aria-hidden="true" tabindex="-1" style="width: 1110px;">
                  <div class="testimonial w-100 px-3 text-center d-flex flex-direction-column justify-content-center flex-wrap align-items-center">
                    <div class="message text-center blockquote w-100">
                      “I am thankful not only for the food, but because there
                      are people who care for those in need and truly want to
                      help.”
                    </div>
                    <div class="blockquote-footer w-100 text-white">
                      Community Recipient
                    </div>
                  </div>
                </div><div class="h5 font-weight-normal one-slide mx-auto slick-slide" data-slick-index="13" aria-hidden="true" tabindex="-1" style="width: 1110px;">
                  <div class="testimonial w-100 px-3 text-center d-flex flex-direction-column justify-content-center flex-wrap align-items-center">
                    <div class="message text-center blockquote w-100">
                      “I delivered food to a woman in need and explained CRN
                      outreach. When I offered to bring food each week, her eyes
                      filled with tears and you could see a weight lifted off
                      her shoulders.”
                    </div>
                    <div class="blockquote-footer w-100 text-white">
                      Volunteer
                    </div>
                  </div>
                </div><div class="h5 font-weight-normal one-slide mx-auto slick-slide" data-slick-index="14" aria-hidden="true" tabindex="-1" style="width: 1110px;">
                  <div class="testimonial w-100 px-3 text-center d-flex flex-direction-column justify-content-center flex-wrap align-items-center">
                    <div class="message text-center blockquote w-100">
                      “This food is hope to so many. It tells them we can get
                      through this - together.”
                    </div>
                    <div class="blockquote-footer w-100 text-white">
                      Volunteer
                    </div>
                  </div>
                </div><div class="h5 font-weight-normal one-slide mx-auto slick-slide" data-slick-index="15" aria-hidden="true" tabindex="-1" style="width: 1110px;">
                  <div class="testimonial w-100 px-3 text-center d-flex flex-direction-column justify-content-center flex-wrap align-items-center">
                    <div class="message text-center blockquote w-100">
                      “As a recent widow I am so very thankful for the blessing
                      of food! There is no paycheck coming in anymore and
                      donations from the stores help so much. Two of my
                      neighbors are also widows. It is a joy to help them as
                      well! I am so very thankful to be a part of our team!”
                    </div>
                    <div class="blockquote-footer w-100 text-white">
                      Volunteer
                    </div>
                  </div>
                </div><div class="h5 font-weight-normal one-slide mx-auto slick-slide" data-slick-index="16" aria-hidden="true" tabindex="-1" style="width: 1110px;">
                  <div class="testimonial w-100 px-3 text-center d-flex flex-direction-column justify-content-center flex-wrap align-items-center">
                    <div class="message text-center blockquote w-100">
                      “We are thankful for whatever you can share. To be honest,
                      we are eating healthier that we ever have before.”
                    </div>
                    <div class="blockquote-footer w-100 text-white">
                      Community Recipient
                    </div>
                  </div>
                </div><div class="h5 font-weight-normal one-slide mx-auto slick-slide" data-slick-index="17" aria-hidden="true" tabindex="-1" style="width: 1110px;">
                  <div class="testimonial w-100 px-3 text-center d-flex flex-direction-column justify-content-center flex-wrap align-items-center">
                    <div class="message text-center blockquote w-100">
                      “Our financial stress caused guilt and a sense of lost
                      worth. Volunteering with CRN erased the horrible feeling
                      of shame. I can help my family without feeling shame and I
                      look for others to help also. It has given me back a sense
                      of worthiness.”
                    </div>
                    <div class="blockquote-footer w-100 text-white">
                      Volunteer
                    </div>
                  </div>
                </div><div class="h5 font-weight-normal one-slide mx-auto slick-slide" data-slick-index="18" aria-hidden="true" tabindex="-1" style="width: 1110px;">
                  <div class="testimonial w-100 px-3 text-center d-flex flex-direction-column justify-content-center flex-wrap align-items-center">
                    <div class="message text-center blockquote w-100">
                      “We really are so thankful for whatever you bring, but
                      also confess that I was nearly PRAYING for a cupcake after
                      teaching all day. Cupcakes are really my weakness. I
                      really needed one today and God heard.”
                    </div>
                    <div class="blockquote-footer w-100 text-white">
                      Community Recipient
                    </div>
                  </div>
                </div><div class="h5 font-weight-normal one-slide mx-auto slick-slide" data-slick-index="19" aria-hidden="true" tabindex="-1" style="width: 1110px;">
                  <div class="testimonial w-100 px-3 text-center d-flex flex-direction-column justify-content-center flex-wrap align-items-center">
                    <div class="message text-center blockquote w-100">
                      “My neighbor has multiple health issues and is unable to
                      leave his home. He has asked for help and is thankful.
                      Even just an apple brings him happiness. I take him a box
                      each Sunday afternoon.”
                    </div>
                    <div class="blockquote-footer w-100 text-white">
                      Volunteer
                    </div>
                  </div>
                </div><div class="h5 font-weight-normal one-slide mx-auto slick-slide slick-cloned" data-slick-index="20" id="" aria-hidden="true" tabindex="-1" style="width: 1110px;">
                  <div class="testimonial w-100 px-3 text-center d-flex flex-direction-column justify-content-center flex-wrap align-items-center">
                    <div class="message text-center blockquote w-100">
                      “Thank you to all those who work so hard to provide for
                      us. I cannot express my gratitude enough.”
                    </div>
                    <div class="blockquote-footer w-100 text-white">
                      Community Recipient
                    </div>
                  </div>
                </div><div class="h5 font-weight-normal one-slide mx-auto slick-slide slick-cloned" data-slick-index="21" id="" aria-hidden="true" tabindex="-1" style="width: 1110px;">
                  <div class="testimonial w-100 px-3 text-center d-flex flex-direction-column justify-content-center flex-wrap align-items-center">
                    <div class="message text-center blockquote w-100">
                      “Oh my goodness, thank you, thank you, thank you for the
                      amazing grocery blessing. So many surprises and wonderful
                      things I cannot even list them!”
                    </div>
                    <div class="blockquote-footer w-100 text-white">
                      Community Recipient
                    </div>
                  </div>
                </div><div class="h5 font-weight-normal one-slide mx-auto slick-slide slick-cloned" data-slick-index="22" id="" aria-hidden="true" tabindex="-1" style="width: 1110px;">
                  <div class="testimonial w-100 px-3 text-center d-flex flex-direction-column justify-content-center flex-wrap align-items-center">
                    <div class="message text-center blockquote w-100">
                      “I am helping feed several families who’ve lost jobs. It
                      is a pleasure to see their surprise and delight in the
                      littlest things - an onion or a melon. You’d think it was
                      treasure!”
                    </div>
                    <div class="blockquote-footer w-100 text-white">
                      Volunteer
                    </div>
                  </div>
                </div><div class="h5 font-weight-normal one-slide mx-auto slick-slide slick-cloned" data-slick-index="23" id="" aria-hidden="true" tabindex="-1" style="width: 1110px;">
                  <div class="testimonial w-100 px-3 text-center d-flex flex-direction-column justify-content-center flex-wrap align-items-center">
                    <div class="message text-center blockquote w-100">
                      “Thank you for the groceries. I shared some of the fresh
                      produce with a mom who had nothing fresh to eat. She was
                      thrilled!”
                    </div>
                    <div class="blockquote-footer w-100 text-white">
                      Community Recipient
                    </div>
                  </div>
                </div><div class="h5 font-weight-normal one-slide mx-auto slick-slide slick-cloned" data-slick-index="24" id="" aria-hidden="true" tabindex="-1" style="width: 1110px;">
                  <div class="testimonial w-100 px-3 text-center d-flex flex-direction-column justify-content-center flex-wrap align-items-center">
                    <div class="message text-center blockquote w-100">
                      “I can’t tell you how those yellow sunflowers brightened
                      my day. Flowers are something I never treat myself to, so
                      now I’m very spoiled.”
                    </div>
                    <div class="blockquote-footer w-100 text-white">
                      Community Recipient
                    </div>
                  </div>
                </div><div class="h5 font-weight-normal one-slide mx-auto slick-slide slick-cloned" data-slick-index="25" id="" aria-hidden="true" tabindex="-1" style="width: 1110px;">
                  <div class="testimonial w-100 px-3 text-center d-flex flex-direction-column justify-content-center flex-wrap align-items-center">
                    <div class="message text-center blockquote w-100">
                      “Thank you for packing the most delicious bounty of
                      groceries for us this week.”
                    </div>
                    <div class="blockquote-footer w-100 text-white">
                      Community Recipient
                    </div>
                  </div>
                </div><div class="h5 font-weight-normal one-slide mx-auto slick-slide slick-cloned" data-slick-index="26" id="" aria-hidden="true" tabindex="-1" style="width: 1110px;">
                  <div class="testimonial w-100 px-3 text-center d-flex flex-direction-column justify-content-center flex-wrap align-items-center">
                    <div class="message text-center blockquote w-100">
                      “My husband is out of work. My family greatly appreciates
                      the groceries. We have also been given compost and that
                      greatly helps feed our ~35 chickens who provide us with
                      eggs.”
                    </div>
                    <div class="blockquote-footer w-100 text-white">
                      Community Recipient
                    </div>
                  </div>
                </div><div class="h5 font-weight-normal one-slide mx-auto slick-slide slick-cloned" data-slick-index="27" id="" aria-hidden="true" tabindex="-1" style="width: 1110px;">
                  <div class="testimonial w-100 px-3 text-center d-flex flex-direction-column justify-content-center flex-wrap align-items-center">
                    <div class="message text-center blockquote w-100">
                      “Oh, eggs, I’m so excited for eggs!&nbsp;&nbsp;Now my kids can have
                      breakfast before they go to school.”
                    </div>
                    <div class="blockquote-footer w-100 text-white">
                      Volunteer
                    </div>
                  </div>
                </div><div class="h5 font-weight-normal one-slide mx-auto slick-slide slick-cloned" data-slick-index="28" id="" aria-hidden="true" tabindex="-1" style="width: 1110px;">
                  <div class="testimonial w-100 px-3 text-center d-flex flex-direction-column justify-content-center flex-wrap align-items-center">
                    <div class="message text-center blockquote w-100">
                      “I've been bringing donations to new neighbor who just
                      started a business. I bring food for the family, compost
                      for his little goats and chickens, and a box of extra
                      bakery which he shares with others. He gets very excited
                      and is thankful.”
                    </div>
                    <div class="blockquote-footer w-100 text-white">
                      Volunteer
                    </div>
                  </div>
                </div><div class="h5 font-weight-normal one-slide mx-auto slick-slide slick-cloned" data-slick-index="29" id="" aria-hidden="true" tabindex="-1" style="width: 1110px;">
                  <div class="testimonial w-100 px-3 text-center d-flex flex-direction-column justify-content-center flex-wrap align-items-center">
                    <div class="message text-center blockquote w-100">
                      “I will talk about volunteering with CRN when I am an old
                      lady, tearing up about how incredible it is when a
                      community of many different people pull together to help
                      one another.”
                    </div>
                    <div class="blockquote-footer w-100 text-white">
                      Volunteer
                    </div>
                  </div>
                </div><div class="h5 font-weight-normal one-slide mx-auto slick-slide slick-cloned" data-slick-index="30" id="" aria-hidden="true" tabindex="-1" style="width: 1110px;">
                  <div class="testimonial w-100 px-3 text-center d-flex flex-direction-column justify-content-center flex-wrap align-items-center">
                    <div class="message text-center blockquote w-100">
                      “One of the children in a family I deliver to literally
                      squeals at every piece of fresh fruit! It makes her so
                      happy!”
                    </div>
                    <div class="blockquote-footer w-100 text-white">
                      Volunteer
                    </div>
                  </div>
                </div><div class="h5 font-weight-normal one-slide mx-auto slick-slide slick-cloned" data-slick-index="31" id="" aria-hidden="true" tabindex="-1" style="width: 1110px;">
                  <div class="testimonial w-100 px-3 text-center d-flex flex-direction-column justify-content-center flex-wrap align-items-center">
                    <div class="message text-center blockquote w-100">
                      “I love getting surprise groceries and figuring out what
                      to do with them!! I am learning so much.”
                    </div>
                    <div class="blockquote-footer w-100 text-white">
                      Community Recipient
                    </div>
                  </div>
                </div><div class="h5 font-weight-normal one-slide mx-auto slick-slide slick-cloned" data-slick-index="32" id="" aria-hidden="true" tabindex="-1" style="width: 1110px;">
                  <div class="testimonial w-100 px-3 text-center d-flex flex-direction-column justify-content-center flex-wrap align-items-center">
                    <div class="message text-center blockquote w-100">
                      “I am thankful not only for the food, but because there
                      are people who care for those in need and truly want to
                      help.”
                    </div>
                    <div class="blockquote-footer w-100 text-white">
                      Community Recipient
                    </div>
                  </div>
                </div><div class="h5 font-weight-normal one-slide mx-auto slick-slide slick-cloned" data-slick-index="33" id="" aria-hidden="true" tabindex="-1" style="width: 1110px;">
                  <div class="testimonial w-100 px-3 text-center d-flex flex-direction-column justify-content-center flex-wrap align-items-center">
                    <div class="message text-center blockquote w-100">
                      “I delivered food to a woman in need and explained CRN
                      outreach. When I offered to bring food each week, her eyes
                      filled with tears and you could see a weight lifted off
                      her shoulders.”
                    </div>
                    <div class="blockquote-footer w-100 text-white">
                      Volunteer
                    </div>
                  </div>
                </div><div class="h5 font-weight-normal one-slide mx-auto slick-slide slick-cloned" data-slick-index="34" id="" aria-hidden="true" tabindex="-1" style="width: 1110px;">
                  <div class="testimonial w-100 px-3 text-center d-flex flex-direction-column justify-content-center flex-wrap align-items-center">
                    <div class="message text-center blockquote w-100">
                      “This food is hope to so many. It tells them we can get
                      through this - together.”
                    </div>
                    <div class="blockquote-footer w-100 text-white">
                      Volunteer
                    </div>
                  </div>
                </div><div class="h5 font-weight-normal one-slide mx-auto slick-slide slick-cloned" data-slick-index="35" id="" aria-hidden="true" tabindex="-1" style="width: 1110px;">
                  <div class="testimonial w-100 px-3 text-center d-flex flex-direction-column justify-content-center flex-wrap align-items-center">
                    <div class="message text-center blockquote w-100">
                      “As a recent widow I am so very thankful for the blessing
                      of food! There is no paycheck coming in anymore and
                      donations from the stores help so much. Two of my
                      neighbors are also widows. It is a joy to help them as
                      well! I am so very thankful to be a part of our team!”
                    </div>
                    <div class="blockquote-footer w-100 text-white">
                      Volunteer
                    </div>
                  </div>
                </div><div class="h5 font-weight-normal one-slide mx-auto slick-slide slick-cloned" data-slick-index="36" id="" aria-hidden="true" tabindex="-1" style="width: 1110px;">
                  <div class="testimonial w-100 px-3 text-center d-flex flex-direction-column justify-content-center flex-wrap align-items-center">
                    <div class="message text-center blockquote w-100">
                      “We are thankful for whatever you can share. To be honest,
                      we are eating healthier that we ever have before.”
                    </div>
                    <div class="blockquote-footer w-100 text-white">
                      Community Recipient
                    </div>
                  </div>
                </div><div class="h5 font-weight-normal one-slide mx-auto slick-slide slick-cloned" data-slick-index="37" id="" aria-hidden="true" tabindex="-1" style="width: 1110px;">
                  <div class="testimonial w-100 px-3 text-center d-flex flex-direction-column justify-content-center flex-wrap align-items-center">
                    <div class="message text-center blockquote w-100">
                      “Our financial stress caused guilt and a sense of lost
                      worth. Volunteering with CRN erased the horrible feeling
                      of shame. I can help my family without feeling shame and I
                      look for others to help also. It has given me back a sense
                      of worthiness.”
                    </div>
                    <div class="blockquote-footer w-100 text-white">
                      Volunteer
                    </div>
                  </div>
                </div><div class="h5 font-weight-normal one-slide mx-auto slick-slide slick-cloned" data-slick-index="38" id="" aria-hidden="true" tabindex="-1" style="width: 1110px;">
                  <div class="testimonial w-100 px-3 text-center d-flex flex-direction-column justify-content-center flex-wrap align-items-center">
                    <div class="message text-center blockquote w-100">
                      “We really are so thankful for whatever you bring, but
                      also confess that I was nearly PRAYING for a cupcake after
                      teaching all day. Cupcakes are really my weakness. I
                      really needed one today and God heard.”
                    </div>
                    <div class="blockquote-footer w-100 text-white">
                      Community Recipient
                    </div>
                  </div>
                </div><div class="h5 font-weight-normal one-slide mx-auto slick-slide slick-cloned" data-slick-index="39" id="" aria-hidden="true" tabindex="-1" style="width: 1110px;">
                  <div class="testimonial w-100 px-3 text-center d-flex flex-direction-column justify-content-center flex-wrap align-items-center">
                    <div class="message text-center blockquote w-100">
                      “My neighbor has multiple health issues and is unable to
                      leave his home. He has asked for help and is thankful.
                      Even just an apple brings him happiness. I take him a box
                      each Sunday afternoon.”
                    </div>
                    <div class="blockquote-footer w-100 text-white">
                      Volunteer
                    </div>
                  </div>
                </div></div></div></div>
            </div>
          </div>
        </div>
      </div>
    </section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<script src="/testimonials.js"></script>

<link rel="stylesheet" href="/testimonials.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"
    />
